@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Oswald:wght@200&family=Roboto:wght@400&family=Ubuntu:wght@400&family=Poppins:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
  font-family: "Ubuntu", Georgia, Times, serif;
}

body {
  /* border: solid 1px rgb(61, 255, 18); */
  height: 100vh;
  width: 100vw;
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* margin: 0 3rem;  */
}
.desktop-nav {
  font-family: "Ubuntu", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  padding: 3rem 10rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 1rem;
  justify-content: space-between;
}
.mobile-nav {
  display: none;
}

.nav-list {
  list-style-type: none;
  display: flex;
}
.list-element {
  margin-right: 1rem;
  font-size: larger;
}

/* styling Hero section */

#profile {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* gap: 5rem; */
  height: 70vh;
  margin: 0 10rem;
  /* border: solid 1px red; */
}
.profile-image {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}
.profile-info {
  margin: 3rem;
  width: 21rem;
  height: 15rem;
  text-align: center;
}
.intro {
  padding: 0.3rem 0;
}
.hello {
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
}
.name {
  font-family: "Ubuntu", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: bold;
}
.profession {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  color: rgb(130, 197, 255);
}
.buttons,
.links {
  padding-top: 0.5rem;
}
.cv-btn,
.contact-btn {
  padding: 0.5rem 1rem;
  border-radius: 40px;
}
.cv-btn {
  background-color: #fff;
}
.contact-btn {
  background-color: #383838;
  color: #fff;
}
.link {
  height: 3.5rem;
  width: 3.5rem;
}
.github,
.linkedin {
  margin: 0.5rem;
}
.github {
}
.linkedin {
  color: #0086d4;
}

/* styling education section  */
#education {
  margin: 10rem 10rem;
  height: 50vh;
  justify-content: center;
}
.section-text-p1,
.title {
  text-align: center;
}
.section-text-p1 {
  font-weight: 600;
  color: #565656;
  font-size: 1rem;
}
.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.education-paragraph-list {
  list-style-type: disc;
}
.education-paragraph-list li {
  margin-top: 1rem;
}

.education-content {
  margin-top: 2rem;
}

.course-name-container {
  display: flex;
  justify-content: space-between;
}

.course-description-list-container li {
  margin: 0.5rem 1rem;
}

#skills {
  height: 90vh;
  margin: 2rem 10rem;
  /* border: 3px solid green; */
}
#skills,
#skills * {
  /* border: 1px solid black; */
}

.skills-wrapper {
  display: flex;
  justify-content: center;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem;
}
.skill img {
  margin-right: 1rem;
  font-size: 3rem;
}
.skill {
  font-size: 1rem;
}

.skills-wrapper-1,
.skills-wrapper-2 {
  width: 50%;
}

.progress-bar {
  height: 0.9rem;
  width: 90%;
  border-radius: 20px;
  border: 1px solid black;
}

.progress-bar-filled {
  height: inherit;
  border-radius: inherit;
}

/* Different styles for each progress bar */
.p-b-html {
  width: 90%;
  background-color: #ff6d00;
}
.p-b-css {
  width: 70%;
  background-color: #0277bd;
}
.p-b-js {
  width: 80%;
  background-color: #ffd600;
}
.p-b-ts {
  width: 50%;
  background-color: #1976d2;
}
.p-b-jq {
  width: 30%;
  background-color: #1467a9;
}
.p-b-react {
  width: 80%;
  background-color: #53c1de;
}
.p-b-cpp {
  width: 60%;
  background-color: #0086d4;
}
.p-b-py {
  width: 50%;
  background-color: #ffc107;
}
.p-b-node {
  width: 20%;
  background-color: #21a366;
}
.p-b-mongodb {
  width: 30%;
  background-color: #5d4037;
}
